################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebClient.BookStore/.vs/WebClient.BookStore
/WebClient.BookStore/WebClient.BookStore/bin/Debug/netcoreapp3.1
/WebClient.BookStore/WebClient.BookStore/obj
/WebClient.BookStore/WebClient.BookStore/wwwroot/lib
/WebClient.BookStore/WebClient.BookStore/bin/Release/netcoreapp3.1
