@model IEnumerable<BookModel>
@*@{
        Layout = "_Layout";
    }*@
@{
        ViewData["BrowserTitle"] = "All Books";



}

@*@{
        var parameters = new Dictionary<string,string>(){
                {
                    "id","1"
                },
                {
                    "firstname","elavarasan"
                },
                {
                    "lastname","kannayiram"
                },
                {
                    "place","gingee"
                }
            };
    }*@


<div class="container">

    <h3 class="display-4">All books</h3>
    <div class="row">
        @foreach(var book in Model){
        <div class="col-xs-12 col-sm-4" style="padding-top:20px;">
            <partial name="_bookThumbnail" model="@book" />
        </div>
        }
    </div>
</div>
<div><br /></div>