<footer class="border-top footer text-muted text-center">
    <div class="container" style="padding-top:15px;">
        Copyright &copy; Book store @DateTime.Now.Year
        <custom-email my-email="ela.ars@gmail.com"></custom-email>
    </div>
</footer>