
@*@{
    Layout = "_Layout";
}*@
@{
     ViewData["BrowserTitle"] = "Contact Us";
}

@section pageName{
    <h2>Contact Us @ViewData["Name"]</h2>
}
<h3>This is contact us page from shared folder</h3>

