body {
    
}
img.logo {
    width: 10%;
    height: 10%;
}
img.desert {
    width:  20%;
    height: 20%;
}
.jumbotron {
    background: none;
}

div.content {
    background-color:lightgray;
    padding:20px;
}

footer {
   
    bottom:0;
    width:100%;
    white-space:nowrap;
    line-height:60px;
    background-color:white;
    

}

select option:disabled {
    color:indianred;
}