
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Page</title>
</head>
<body>
    <h2>This is page coming from outside of the view folder</h2>
    
</body>
</html>
